### Redmine specific
redmineServerUrl = http://redmine.host/directory
apiKey = abcdefghi1234567890
redmineProject = project

attachmentServerAddress = http://attachment-server.host/directory

### Jira specific
jiraServerUrl = https://jira.host
jiraUser = user@domain
jiraProject = project
jiraProjectKey = PR
jiraPassword = API_TOKEN
